body {
    background-color: #fff3e0;
}

p, li {
    color: #5d4037;
    font-family: Georgia, "Times New Roman";
    font-size: large;
}

a {
    color: #8d6e63;
}

h1, h2 {
    color: #ff7043;
    font-family: Tahoma;
}

#index-header {
    text-align: center;
}

.recipe-list li{
    padding: 10px;
}

img{
    border: solid black thick;
}

.ingredients li{
    padding: 7px;
}

.steps li{
    padding: 5px;
}